.welcome-container {
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    color: white;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.glit-par-cont {
    width: 95%;
    height: 95%;
    border-radius: 5px;
    border: 1px solid;
    background-color: rgba(255, 166, 0, 0.116);
    backdrop-filter: blur(200px);
    overflow: hidden;
}

.welcome {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #ba710446;
    font-family: 'audiowide', sans-serif;
    font-size: 15rem;
}

.smile-greet-icon {
    transform: scale(2);
    margin: 20px;
}

.glit-par-cont-mobile {
    display: none;
}

.intro-pop-notification-layer {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: #8e580630;
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.intro-pop-notification {
    position: relative;
    border: 4px solid #ba710400;
    box-shadow: inset 0 0 10px #cd7f0b;
    width: fit-content;
    height: fit-content;
    background-color: #201301;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.not-secs {
    font-family: 'audiowide', sans-serif;
    color: #ba7104;
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Important-text {
    font-weight: bolder;
    border-bottom: 1px solid;
    border-image: linear-gradient(to right, #ffffff00, #ffffff00, #ba7104, #ba7104, #ba7104, #ba7104, #ba7104, #ba7104, #ba7104, #ba7104, #ba7104, #ffffff00, #ffffff00) 1;
}

.popup-btns {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.popup-btns button {
    background-color: #201301;
    border: 2px solid transparent;
    color: #ba7104;
    box-shadow: inset 0 0 10px #cd7f0b;
    font-family: 'audiowide';
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.56s;
}

.popup-btns button:hover {
    box-shadow: inset 0 0 1px #cd7f0b;
    border-color: #ba7104da;
}

.not-secs.texts p:nth-of-type(1) {
    font-size: 1.5rem;
}

.skip-text {
    color: #c77c0be1;
    font-size: 1rem;
    font-family: 'audiowide';
    -webkit-text-stroke: 1px #ac6c0ae3;
    animation: blink 1.5s infinite;
}

.skip-text-container {
    color: #c77c0be1;
    position: absolute;
    bottom: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.touch-gesture-icon {
    color: #c77c0be1;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.9;
}

@keyframes blink {

    0%,
    49% {
        opacity: 1;
    }

    50%,
    100% {
        opacity: 0.5;
    }
}

.instruction-listener {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    outline: none;
}

@media screen and (max-width: 700px) {
    .welcome {
        font-size: 8rem;
    }

    .glit-par-cont-mobile {
        display: block;
        width: 95%;
        height: 95%;
        border-radius: 5px;
        border: 1px solid;
        background-color: rgba(255, 166, 0, 0.116);
        backdrop-filter: blur(200px);
        overflow: hidden;
    }

    .glit-par-cont {
        display: none;
    }

    .skip-text-container {
        font-size: 0.9rem;
        bottom: 5vh;
    }

    .touch-gesture-icon {
        width: 40px;
        height: 40px;
    }
}

@media screen and (max-width: 500px) {
    .welcome {
        font-size: 6rem;
    }

    .skip-text-container {
        font-size: 0.8rem;
        bottom: 3vh;
    }

    .touch-gesture-icon {
        width: 35px;
        height: 35px;
    }
}